In [147]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

In [148]:
df_logs = pd.read_csv('datasets/log_data.csv')
df_user = pd.read_csv('datasets/user_data.csv')

print('Shape of log_data.csv -', df_logs.shape)
print('------------------------------------\nShape of user_data.csv -', df_user.shape)

Shape of log_data.csv - (305807, 13)
------------------------------------
Shape of user_data.csv - (28393, 6)

In [149]:
df_logs.head()

,APPLICATION,REQUESTEE,REQUEST_ID,REQUEST_TYPE,REQUEST_STATUS,ACCOUNT_NAME,ENTITLEMENT,ENTITLEMENT_VALUE,APPROVAL_TYPE,APPROVER,APPROVED_ON,APPROVAL_STATUS,REQUESTED_ON
0,Application_0,requestee_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_0,approver_0,4/29/2020 19:37,Rejected,4/20/2020
1,Application_0,requestee_1,requestID_1,Modify Account,Approval Complete,account_1,entitlement_0,ent_val_1,app_type_1,approver_1,4/21/2020 5:00,Approved,4/21/2020
2,Application_0,requestee_2,requestID_2,Modify Account,Approval Complete,account_2,entitlement_0,ent_val_1,app_type_2,approver_2,4/21/2020 8:31,Approved,4/21/2020
3,Application_0,requestee_3,requestID_3,Modify Account,Approval Complete,account_3,entitlement_0,ent_val_1,app_type_2,approver_3,4/21/2020 11:42,Approved,4/21/2020
4,Application_0,requestee_4,requestID_4,Modify Account,Approval Complete,account_4,entitlement_0,ent_val_1,app_type_2,approver_4,4/23/2020 12:18,Approved,4/21/2020

In [150]:
df_user.head()

   Unnamed: 0              uid employeeType    dept    div hrOrganizationCode
0           1  requestee_19883     emType_0  dept_0  div_0           hrCode_0
1           9  requestee_22386     emType_1  dept_1  div_1           hrCode_1
2          18  requestee_31670     emType_1  dept_2  div_1           hrCode_1
3          47   requestee_9870     emType_2  dept_3  div_2           hrCode_2
4          58  requestee_31028     emType_2  dept_4  div_3           hrCode_3

In [151]:
print('Features in log_data.csv -\n', df_logs.columns)
print('-------------------------------------------------------\nFeatures in user_data.csv -\n', df_user.columns)

Features in log_data.csv -
 Index(['APPLICATION', 'REQUESTEE', 'REQUEST_ID', 'REQUEST_TYPE',
       'REQUEST_STATUS', 'ACCOUNT_NAME', 'ENTITLEMENT', 'ENTITLEMENT_VALUE',
       'APPROVAL_TYPE', 'APPROVER', 'APPROVED_ON', 'APPROVAL_STATUS',
       'REQUESTED_ON'],
      dtype='object')
-------------------------------------------------------
Features in user_data.csv -
 Index(['Unnamed: 0', 'uid', 'employeeType', 'dept', 'div',
       'hrOrganizationCode'],
      dtype='object')

In [152]:
df_logs.isnull().sum()

APPLICATION             1
REQUESTEE               0
REQUEST_ID              0
REQUEST_TYPE            0
REQUEST_STATUS          0
ACCOUNT_NAME            0
ENTITLEMENT             0
ENTITLEMENT_VALUE       0
APPROVAL_TYPE           0
APPROVER                0
APPROVED_ON          1100
APPROVAL_STATUS         0
REQUESTED_ON            0
dtype: int64

In [153]:
df_logs.dropna()

,APPLICATION,REQUESTEE,REQUEST_ID,REQUEST_TYPE,REQUEST_STATUS,ACCOUNT_NAME,ENTITLEMENT,ENTITLEMENT_VALUE,APPROVAL_TYPE,APPROVER,APPROVED_ON,APPROVAL_STATUS,REQUESTED_ON
0,Application_0,requestee_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_0,approver_0,4/29/2020 19:37,Rejected,4/20/2020
1,Application_0,requestee_1,requestID_1,Modify Account,Approval Complete,account_1,entitlement_0,ent_val_1,app_type_1,approver_1,4/21/2020 5:00,Approved,4/21/2020
2,Application_0,requestee_2,requestID_2,Modify Account,Approval Complete,account_2,entitlement_0,ent_val_1,app_type_2,approver_2,4/21/2020 8:31,Approved,4/21/2020
3,Application_0,requestee_3,requestID_3,Modify Account,Approval Complete,account_3,entitlement_0,ent_val_1,app_type_2,approver_3,4/21/2020 11:42,Approved,4/21/2020
4,Application_0,requestee_4,requestID_4,Modify Account,Approval Complete,account_4,entitlement_0,ent_val_1,app_type_2,approver_4,4/23/2020 12:18,Approved,4/21/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305802,Application_1126,requestee_36646,requestID_62675,Modify Account,Approval Complete,account_36646,entitlement_9,ent_val_17605,app_type_42,approver_15282,8/26/2020 16:55,Approved,8/26/2020
305803,Application_1126,requestee_36646,requestID_62675,Modify Account,Approval Complete,account_36646,entitlement_9,ent_val_18037,app_type_226,approver_15325,8/27/2020 5:19,Approved,8/26/2020
305804,Application_1126,requestee_36646,requestID_62675,Modify Account,Approval Complete,account_36646,entitlement_9,ent_val_18037,app_type_42,approver_15282,8/26/2020 16:55,Approved,8/26/2020
305805,Application_1126,requestee_36983,requestID_64308,New Account,Approval Complete,account_36983,entitlement_9,ent_val_10827,app_type_226,approver_14931,7/29/2020 18:36,Approved,7/29/2020
305806,Application_1126,requestee_36983,requestID_64308,New Account,Approval Complete,account_36983,entitlement_9,ent_val_10827,app_type_17,approver_153,7/29/2020 18:28,Approved,7/29/2020

In [154]:
users = list(df_user['uid'])

In [155]:
df_logs['REQUESTEE'].value_counts()

requestee_35465    2575
requestee_14964    1456
requestee_36475     786
requestee_35452     761
requestee_21093     713
                   ...
requestee_6509        1
requestee_6510        1
requestee_6511        1
requestee_6512        1
requestee_7732        1
Name: REQUESTEE, Length: 37424, dtype: int64

In [156]:
check_user = df_logs['REQUESTEE'].isin(users).value_counts()

print('Number of records in log_data with user details present in user_data -', check_user[1])
print('------------------------------------------------------------------------------')
print('Number of records in log_data with user details not present in user_data -', check_user[0])

Number of records in log_data with user details present in user_data - 233204
------------------------------------------------------------------------------
Number of records in log_data with user details not present in user_data - 72603

In [157]:
users_not_in_user_data = list(df_logs[df_logs['REQUESTEE'].isin(users)==False]['REQUESTEE'])

In [158]:
print("Number of users with their requestee ID in logs_data but not in user_data -",len(set(users_not_registered)))

Number of users with their requestee ID in logs_data but not in user_data - 9031

In [159]:
df_logs.dtypes

APPLICATION          object
REQUESTEE            object
REQUEST_ID           object
REQUEST_TYPE         object
REQUEST_STATUS       object
ACCOUNT_NAME         object
ENTITLEMENT          object
ENTITLEMENT_VALUE    object
APPROVAL_TYPE        object
APPROVER             object
APPROVED_ON          object
APPROVAL_STATUS      object
REQUESTED_ON         object
dtype: object

In [160]:
df_user.dtypes

Unnamed: 0             int64
uid                   object
employeeType          object
dept                  object
div                   object
hrOrganizationCode    object
dtype: object

In [161]:
df_indexed_user = df_user.set_index('uid')
df_indexed_logs = df_logs.set_index('REQUESTEE')

In [162]:
df_combined = df_indexed_logs.join(df_indexed_user, how='outer')
df_combined.head()

,APPLICATION,REQUEST_ID,REQUEST_TYPE,REQUEST_STATUS,ACCOUNT_NAME,ENTITLEMENT,ENTITLEMENT_VALUE,APPROVAL_TYPE,APPROVER,APPROVED_ON,APPROVAL_STATUS,REQUESTED_ON,Unnamed: 0,employeeType,dept,div,hrOrganizationCode
requestee_0,Application_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_0,approver_0,4/29/2020 19:37,Rejected,4/20/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
requestee_0,Application_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_2,approver_33,4/20/2020 18:36,Approved,4/20/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
requestee_0,Application_26,requestID_4093,New Account,Approval Complete,account_0,entitlement_2,ent_val_6,app_type_28,approver_33,4/23/2020 18:47,Approved,4/23/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
requestee_1,Application_0,requestID_1,Modify Account,Approval Complete,account_1,entitlement_0,ent_val_1,app_type_1,approver_1,4/21/2020 5:00,Approved,4/21/2020,197651.0,emType_2,dept_9022,div_13,hrCode_116
requestee_10,Application_0,requestID_10,Modify Account,Approval Complete,account_10,entitlement_0,ent_val_3,app_type_2,approver_11,4/20/2020 5:42,Approved,4/17/2020,246295.0,emType_2,dept_6732,div_387,hrCode_11

In [163]:
df_combined.isnull().sum()

APPLICATION               1
REQUEST_ID                0
REQUEST_TYPE              0
REQUEST_STATUS            0
ACCOUNT_NAME              0
ENTITLEMENT               0
ENTITLEMENT_VALUE         0
APPROVAL_TYPE             0
APPROVER                  0
APPROVED_ON            1100
APPROVAL_STATUS           0
REQUESTED_ON              0
Unnamed: 0            72603
employeeType          72603
dept                  72603
div                   72603
hrOrganizationCode    72603
dtype: int64

In [164]:
print('Shape of join before dropping null values -', df_combined.shape)

df_combined.dropna(inplace=True)

print('-----------------------------------------------------\nShape of join before dropping null values -', df_combined.shape)

Shape of join before dropping null values - (305807, 17)
-----------------------------------------------------
Shape of join before dropping null values - (232281, 17)

In [166]:
df_combined.reset_index()

,index,APPLICATION,REQUEST_ID,REQUEST_TYPE,REQUEST_STATUS,ACCOUNT_NAME,ENTITLEMENT,ENTITLEMENT_VALUE,APPROVAL_TYPE,APPROVER,APPROVED_ON,APPROVAL_STATUS,REQUESTED_ON,Unnamed: 0,employeeType,dept,div,hrOrganizationCode
0,requestee_0,Application_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_0,approver_0,4/29/2020 19:37,Rejected,4/20/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
1,requestee_0,Application_0,requestID_0,Modify Account,Approval Complete,account_0,entitlement_0,ent_val_0,app_type_2,approver_33,4/20/2020 18:36,Approved,4/20/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
2,requestee_0,Application_26,requestID_4093,New Account,Approval Complete,account_0,entitlement_2,ent_val_6,app_type_28,approver_33,4/23/2020 18:47,Approved,4/23/2020,201917.0,emType_2,dept_8828,div_60,hrCode_34
3,requestee_1,Application_0,requestID_1,Modify Account,Approval Complete,account_1,entitlement_0,ent_val_1,app_type_1,approver_1,4/21/2020 5:00,Approved,4/21/2020,197651.0,emType_2,dept_9022,div_13,hrCode_116
4,requestee_10,Application_0,requestID_10,Modify Account,Approval Complete,account_10,entitlement_0,ent_val_3,app_type_2,approver_11,4/20/2020 5:42,Approved,4/17/2020,246295.0,emType_2,dept_6732,div_387,hrCode_11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232276,requestee_9997,Application_52,requestID_12647,New Account,Approval Complete,account_9997,entitlement_1,ent_val_745,app_type_36,approver_6218,7/11/2020 2:53,Approved,7/10/2020,123638.0,emType_2,dept_3929,div_7,hrCode_24
232277,requestee_9998,Application_52,requestID_12648,New Account,Approval Complete,account_9998,entitlement_2,ent_val_6,app_type_36,approver_6219,7/23/2020 7:39,Approved,7/23/2020,175243.0,emType_2,dept_8920,div_7,hrCode_455
232278,requestee_9998,Application_52,requestID_12648,New Account,Approval Complete,account_9998,entitlement_1,ent_val_745,app_type_36,approver_6219,7/23/2020 7:39,Approved,7/23/2020,175243.0,emType_2,dept_8920,div_7,hrCode_455
232279,requestee_9999,Application_52,requestID_12649,New Account,Approval Complete,account_9999,entitlement_2,ent_val_6,app_type_36,approver_6220,7/27/2020 7:23,Approved,7/23/2020,215621.0,emType_2,dept_9812,div_7,hrCode_89
232280,requestee_9999,Application_52,requestID_12649,New Account,Approval Complete,account_9999,entitlement_1,ent_val_746,app_type_36,approver_6220,7/27/2020 7:23,Approved,7/23/2020,215621.0,emType_2,dept_9812,div_7,hrCode_89

In [168]:
df_combined.to_csv('datasets/combined_data.csv')